*{
    margin:0;
   
}
body{
    background-color: #00220B;
}
header{
    display: flex;
    flex-direction: row;
    padding:2em;
    justify-content: space-between;
}
header img:hover{
    cursor: url('images/custom-cursor2.png') 20 20, pointer !important;
}
.name img{
    width: 30em;
    
}
p{
    margin-left: 0.5em;
    color: #FFDDF4;
    font-size: 2em;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
}
#download{
    width: 7em;
    background-color:#FFDDF4!important;
    color:#00220B!important;
    padding: 0.2em;
    margin-top:1em;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 2em;
    border-bottom: 4px solid black !important;
    border: 2px solid black;
}
#download:hover{
    background-color:#00220B!important;
    color: #FFDDF4!important;
    cursor: url('images/custom-cursor2.png') 20 20, pointer !important;
    transition: background-color 0.3s ease;
}
.link{
    width: 5em;
}

.link:hover{
    transition: width 0.2s ease;
    width: 5.2em;
    cursor: url('images/custom-cursor2.png') 20 20, pointer !important;
}
.links{
    width: 12em;
}
.lang{
    
    height: 14em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tiles{
    width: 100%;
}
.header-left{
    display: flex;
    flex-direction: row;
}
.lang img{
    margin: 1em;
    width: 90%;
    height: 6em;
   
}
footer{
    display: flex;
    flex-direction: column;
    background-color:#d9f5f9;
    width: 100%;
}
.mail{
    color: #00220B;
    margin-top:0.5em;
    font-weight: 400;
    font-size: 1.5em;
}
.button-cv{
    display: flex;
    justify-content: center;
}

.me{
    height: 15.5em;
    width: 43em;
    border-top:  2px dashed #FFDDF4;
    border-bottom:  2px dashed #FFDDF4;
    padding: 2em; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.me p{
    color:rgb(250, 241, 241);
    font-size: 1.1em;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    text-align: justify;
    font-weight: 400;
}
.me strong{
    color:rgb(250, 241, 241);
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

}

.me-all{
    display: flex;
    justify-content: center;
    align-items: center;
}
#eng{
    
    width: 3em;
    height: 2em;
    background-color:#FFDDF4!important;
    color:#00220B!important;
    border-bottom: 3px solid black !important;
    border: 2px solid black;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 1.2em;
}

#eng:hover{
    background-color:#00220B!important;
    color: #FFDDF4!important;
    cursor: url('images/custom-cursor2.png') 20 20, pointer !important;
    transition: background-color 0.3s ease;
}
#folder:hover{
    cursor: url('images/custom-cursor2.png') 20 20, pointer !important;
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}
.section{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2em;
    margin-bottom: 1em;
}

.projects{
    display: flex;
    align-items: center; 
    text-decoration: none;
    color:rgb(250, 241, 241);
    font-size: 1.1em;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    padding-top:1.5em;
}
#folder-text{
    margin-left: 1em;
}
.project {
    transform: scale(1); 
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.1);
    cursor: url('images/custom-cursor2.png') 20 20, pointer !important;
}

@media screen and (max-width: 640px) {
    * {

        overflow-x: hidden; 
      }
      .name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        }
      .name img {
        width: 100%; 
      }
    
      .me {
        width: 100%;
      }

      .link{
        width: 50%;
      }
      .links a{
        display: flex;
        justify-content: flex-end;
      }

      #subtitle{
        font-size: 1em;
        margin-left:0.2em;
      }
      header{
        padding: 1em;
        padding-top:2em;
        padding-bottom: 2em;
      }
      .links{
        display: flex;

        align-items: flex-end;
        width: auto;
      }
      .button-cv{
        margin-bottom: 2em;
      }
      .tiles{
        width: 260%;
      }
      #eng{
        width: 4em;
      }
      @media (hover: none) {
        #download:hover {
          background-color: initial;
        }
      }
}
