*{
  margin:0;
 
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#chessboard{
    display: grid;
    grid-template-columns: repeat(8, 1em);
    grid-template-rows: repeat(8, 1em); 
    background-color: burlywood;
    padding: 1em;
}

.whiteTile{
    width: 1em;
    height: 1em;
    background-color: white;
}

.blackTile{
  width: 1em;
  height: 1em;
  background-color: black;
}

